.leftColumn {
    min-width: 12rem;
    width: 33vw;
    max-width: 26.5rem;
    height: 100%;
    position: relative;
    background-color: #0F0F0F;
    height: 100%;
    overflow: hidden;
}

.LeftMainHeader {
    height: 3.5rem;;
    padding: 0.375rem 0.8125rem 0.5rem 0.8125rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.ChatFolders {
    flex: 1;
    overflow: hidden;
}

.chatForldersInner {

}