
.direct{
    background-image: url(/public/back.jpg) ;
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: left;
    overflow: hidden;
    display: flex;
}



